/* @import './App.css'; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.mainPanel{
    display: grid;
    flex-direction: row;
    height: 95vh;
    width: 92vw;
    grid-gap: 0;
    margin-left: 5%;
    /* grid-template-columns: repeat(4, 186px); */
    grid-template-columns: repeat(4, 23%);
    grid-auto-flow: row;
}

.videoWindow{
    position: relative;
    height: 180px;
    width: 180px;
    font-size: 1.2rem;
    font-family: 'Noto Sans', sans-serif;
}
.videoWindowImage{
    height: 80px;
    width: 170px;
    border: 1px solid rgb(229,229,229);
    background-image: thumbnail;
    background-color: rgb(229,229,229);
}
